<!--{subtemplate common/header_marry}-->
<style id="diy_style" type="text/css"></style>

	<script src="template/marry/js/focus_marry.js" type="text/javascript"></script>

<div id="ct" class="wp cl{if $_G['setting']['forumallowside']} ct2{/if}">
	<div class="mn" style="float:left;">
		<div class="wp mtn">
			<div class="news"><!--BBS帖子-->
                <div id="left_focus"><!--焦点图-->	
                    <div class="sub_box">
                      <div id="p-select" class="sub_nav">
                        <div class="sub_no" id="bd1lfsj">
                          <ul>
                            <li class="show"></li>
                            <li class=""></li>
                            <li class=""></li>
                          </ul>
                        </div>
                      </div>
                      <!--[diy=show_fou_tt]--><div id="show_fou_tt" class="area"></div><!--[/diy]-->
                    </div>
                    <script type="text/javascript">movec();</script>
                </div>
        
                <div class="bbs_tiezi"><!--热帖-->	
                    <!--[diy=bbs_tiezi_tt]--><div id="bbs_tiezi_tt" class="area"></div><!--[/diy]--> 
                    <ul>
                        <!--[diy=bbs_tiezi_li_tt]--><div id="bbs_tiezi_li_tt" class="area"></div><!--[/diy]-->   
                    </ul>
                </div>
        
                <div class="rexian"><!--热线电话-->
                    <div class="phone"><!--{ad/custom_17}--></div>
                    <div class="jiaru"><!--{ad/custom_18}--></div>
                    <div class="ad_10"><!--{ad/custom_19}--></div>
                    <div class="ad_10"><!--{ad/custom_20}--></div>
                </div>
            </div>
            
            <div class="riji"><!--婚礼日记-->
                <dl>
                    <dd></dd>
                    <dt><a href="#" target="_blank"></a></dt>
                </dl>
                <ul>
                    <!--[diy=riji_li_tt]--><div id="riji_li_tt" class="area"></div><!--[/diy]-->
                </ul>
            </div>
            
           	<div class="baibao"><!--婚礼百宝箱-->
                <dl><dd></dd></dl>
                <div class="hengtiao">
                    <ul>
                        <li class="btn_01"><a href="#" target="_blank"></a><b></b></li>
                        <li class="btn_02"><a href="#" target="_blank"></a><b></b></li>
                        <li class="btn_03"><a href="#" target="_blank"></a><b></b></li>
                        <li class="btn_04"><a href="#" target="_blank"></a><b></b></li>
                        <li class="btn_05"><a href="#" target="_blank"></a><b></b></li>
                        <li class="btn_06"><a href="#" target="_blank"></a><b></b></li>
                        <li class="btn_07"><a href="#" target="_blank"></a><b></b></li>
                        <li class="btn_08"><a href="#" target="_blank"></a></li>
                    </ul>
                    <div class="baibao_left"><img src="/template/marry/images_marry/baibao_left.gif" width="5" height="140"></div>
                    <div class="baibao_right"><img src="/template/marry/images_marry/baibao_right.gif" width="5" height="140"></div> 
                </div>
            </div> 
            
            <div class="hotel"><!--喜宴酒店-->
                <dl>
                    <dd></dd>
                    <dt><a href="#" target="_blank"></a></dt>
                </dl>
        
                <div class="albumIndex">
                    <div class="albumIndex_1 posdiv">
                        <a href="#" target="_blank"><img src="/template/marry/images_marry/pinpdai_logo.jpg" width="120" height="60" /><div class="mask" id="m1"> </div></a>
                    </div>
                    <div class="albumIndex_2 posdiv">
                        <a href="#" target="_blank"><img src="/template/marry/images_marry/pinpdai_logo_02.jpg" width="120" height="60" /><div class="mask" id="m2"> </div></a>
                    </div>
                    <div class="albumIndex_3 posdiv">
                        <a href="#" target="_blank"><img src="/template/marry/images_marry/pinpdai_logo_02.jpg" width="120" height="60" /><div class="mask" id="m3"> </div></a>
                    </div>
                    <div class="albumIndex_4 posdiv">
                        <a href="#" target="_blank"><img src="/template/marry/images_marry/pinpdai_logo.jpg" width="120" height="60" /><div class="mask" id="m4"> </div></a>
                    </div>
                    <div class="albumIndex_5 posdiv">
                        <a href="#" target="_blank"><img src="/template/marry/images_marry/pinpdai_logo.jpg" width="120" height="60" /><div class="mask" id="m5"> </div></a>
                    </div>
                    <div class="albumIndex_6 posdiv">
                        <a href="#" target="_blank"><img src="/template/marry/images_marry/pinpdai_logo_02.jpg" width="120" height="60" /><div class="mask" id="m6"> </div></a>
                    </div>
                    <div class="albumIndex_7 posdiv">
                        <a href="#" target="_blank"><img src="/template/marry/images_marry/pinpdai_logo_02.jpg" width="120" height="60" /><div class="mask" id="m7"> </div></a>
                    </div>
                    <div class="albumIndex_8 posdiv">
                        <a href="#" target="_blank"><img src="/template/marry/images_marry/pinpdai_logo.jpg" width="120" height="60" /><div class="mask" id="m8"> </div></a>
                    </div>
                </div>
            
                <ul class="hotel_pic">
                    <li><a href="#" target="_blank"><img src="/template/marry/images_marry/ad_03.jpg" width="354" height="170" /></a></li>
                    <li><a href="#" target="_blank"><img src="/template/marry/images_marry/ad_03.jpg" width="354" height="170" /></a></li>
                    <li><a href="#" target="_blank"><img src="/template/marry/images_marry/ad_03.jpg" width="354" height="170" /></a></li>
                    <li><a href="#" target="_blank"><img src="/template/marry/images_marry/ad_03.jpg" width="354" height="170" /></a></li>
                </ul>
            </div>
            
            
            
            
            
            
		</div>

		

		
	</div>
</div>


<style>
#wp .wp { width:1000px;}
.mtn { margin-top: 0 !important; }/*最近修改的，原来的是{ margin-top: 5px !important; }*/
#toptb { line-height:20px;}
.mn { overflow:visible;}
</style>