<!--{subtemplate common/header_marry}-->
<style id="diy_style" type="text/css"></style>
<script type="text/javascript" src="template/marry/js/js.js"></script>
	<script src="template/marry/js/focus_marry.js" type="text/javascript"></script>
<div id="tbox">
	<a id="gotop" href="javascript:void(0)" onfocus="this.blur()"></a>
	<a id="jianyi" href="http://bbs.we54.com/forum.php?gid=1016#xyjd" onfocus="this.blur()">喜宴酒店</a>
    <a id="jianyi" href="http://bbs.we54.com/forum.php?gid=1016#hssy" onfocus="this.blur()">婚纱摄影</a>
    <a id="jianyi" href="http://bbs.we54.com/forum.php?gid=1016#hlfw" onfocus="this.blur()">婚礼服务</a>
    <a id="jianyi" href="http://bbs.we54.com/forum.php?gid=1016#zgbq" onfocus="this.blur()">珠光宝气</a>
    <a id="jianyi" href="http://bbs.we54.com/forum.php?gid=1016#mylx" onfocus="this.blur()">蜜月旅行</a>
</div>
<div id="ct" class="wp cl{if $_G['setting']['forumallowside']} ct2{/if}">

	<div class="mn" style="float:left;">
		<div class="wp mtn">
			<div class="news"><!--BBS帖子-->
                <div id="left_focus"><!--焦点图-->	
                    <div class="sub_box">
                      <div id="p-select" class="sub_nav">
                        <div class="sub_no" id="bd1lfsj">
                          <ul>
                            <li class="show"></li>
                            <li class=""></li>
                            <li class=""></li>
                          </ul>
                        </div>
                      </div>
                      <!--[diy=show_fou_tt]--><div id="show_fou_tt" class="area"></div><!--[/diy]-->
                    </div>
                    <script type="text/javascript">movec();</script>
                </div>
        
                <div class="bbs_tiezi"><!--热帖-->	
                    <!--[diy=bbs_tiezi_tt]--><div id="bbs_tiezi_tt" class="area"></div><!--[/diy]--> 
                    <ul>
                        <!--[diy=bbs_tiezi_li_tt]--><div id="bbs_tiezi_li_tt" class="area"></div><!--[/diy]-->   
                    </ul>
                </div>
        
                <div class="rexian"><!--热线电话-->
                    <div class="phone"><!--{ad/custom_25}--></div>
                    <div class="jiaru"><!--{ad/custom_26}--></div>
                    <div class="ad_10"><!--{ad/custom_27}--></div>
                    <div class="ad_10"><!--{ad/custom_28}--></div>
                </div>
            </div>
            
            <div class="riji"><!--婚礼日记-->
                <dl>
                    <dd></dd>
                    <dt><a href="http://bbs.we54.com/forum-1017-1.html" target="_blank"></a></dt>
                </dl>
                <ul>
                    <!--[diy=riji_li_tt]--><div id="riji_li_tt" class="area"></div><!--[/diy]-->
                </ul>
            </div>
            
           	<div class="baibao"><!--婚礼百宝箱-->
                <dl><dd></dd></dl>
                <div class="hengtiao">
                    <ul>
                        <li class="btn_01"><a href="http://bbs.we54.com/forum.php?mod=forumdisplay&fid=1018&filter=typeid&typeid=40" target="_blank"></a><b></b></li>
                        <li class="btn_02"><a href="http://bbs.we54.com/forum.php?mod=forumdisplay&fid=1018&filter=typeid&typeid=41" target="_blank"></a><b></b></li>
                        <li class="btn_03"><a href="http://bbs.we54.com/forum.php?mod=forumdisplay&fid=1018&filter=typeid&typeid=42" target="_blank"></a><b></b></li>
                        <li class="btn_04"><a href="http://bbs.we54.com/forum.php?mod=forumdisplay&fid=1018&filter=typeid&typeid=43" target="_blank"></a><b></b></li>
                        <li class="btn_05"><a href="http://bbs.we54.com/forum.php?mod=forumdisplay&fid=1018&filter=typeid&typeid=44" target="_blank"></a><b></b></li>
                        <li class="btn_06"><a href="http://bbs.we54.com/forum-1019-1.html" target="_blank"></a><b></b></li>
                        <li class="btn_07"><a href="http://bbs.we54.com/forum.php?mod=forumdisplay&fid=1018&filter=typeid&typeid=45" target="_blank"></a><b></b></li>
                        <li class="btn_08"><a href="http://bbs.we54.com/forum.php?mod=forumdisplay&fid=1018&filter=typeid&typeid=46" target="_blank"></a></li>
                    </ul>
                    <div class="baibao_left"><img src="/template/marry/images_marry/baibao_left.gif" width="5" height="140"></div>
                    <div class="baibao_right"><img src="/template/marry/images_marry/baibao_right.gif" width="5" height="140"></div> 
                </div>
            </div> 
            
            <div class="hotel" id="xyjd"><!--喜宴酒店-->
                <dl>
                    <dd></dd>
                    <dt><a href="http://bbs.we54.com/forum.php?mod=forumdisplay&fid=1018&filter=typeid&typeid=40" target="_blank"></a></dt>
                </dl>
        
                <div class="albumIndex">
                    <!--[diy=posdiv_tt]--><div id="posdiv_tt" class="area"></div><!--[/diy]-->
                </div>
            
                <ul class="hotel_pic">
                    <!--[diy=hotel_li_tt]--><div id="hotel_li_tt" class="area"></div><!--[/diy]-->
                </ul>
            </div>
            
            <div class="photo" id="hssy"><!--婚纱摄影-->
                <dl>
                    <dd></dd>
                    <dt><a href="http://bbs.we54.com/forum.php?mod=forumdisplay&fid=1018&filter=typeid&typeid=41" target="_blank"></a></dt>
                </dl>
            
                <div class="albumIndex">
                    <!--[diy=posdiv_tt_photo]--><div id="posdiv_tt_photo" class="area"></div><!--[/diy]-->
                </div>
            
                <ul class="photo_pic">
                    <!--[diy=photo_li_tt]--><div id="photo_li_tt" class="area"></div><!--[/diy]-->
                </ul>
            </div>
            
            <div class="fuwu" id="hlfw"><!--婚礼服务-->
                <dl>
                    <dd></dd>
                    <dt><a href="http://bbs.we54.com/forum.php?mod=forumdisplay&fid=1018&filter=typeid&typeid=42" target="_blank"></a></dt>
                </dl>
            
                <div class="albumIndex">
                    <!--[diy=fuwu_tt_photo]--><div id="fuwu_tt_photo" class="area"></div><!--[/diy]-->
                </div>
        
                <div class="fuwu_pic">
                    <div class="hdp_01_02">
                        <div class="hdp_01">
                            <!--[diy=hdp_01_tt]--><div id="hdp_01_tt" class="area"></div><!--[/diy]-->
                        </div>	
                        <div class="hdp_02">
                            <!--[diy=hdp_02_tt]--><div id="hdp_02_tt" class="area"></div><!--[/diy]-->
                        </div>
                    </div>
                    <div class="hdp_03">
                        <!--[diy=hdp_03_tt]--><div id="hdp_03_tt" class="area"></div><!--[/diy]-->
                    </div>
                    <div class="hdp_04_05">
                        <div class="hdp_04">
                            <!--[diy=hdp_04_tt]--><div id="hdp_04_tt" class="area"></div><!--[/diy]-->
                        </div>	
                        <div class="hdp_05">
                            <!--[diy=hdp_05_tt]--><div id="hdp_05_tt" class="area"></div><!--[/diy]-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="zhubao" id="zgbq"><!--珠光宝气-->
                <dl>
                    <dd></dd>
                    <dt><a href="http://bbs.we54.com/forum.php?mod=forumdisplay&fid=1018&filter=typeid&typeid=43" target="_blank"></a></dt>
                </dl>
            
                <div class="albumIndex">
                    <!--[diy=zhubao_tt_photo]--><div id="zhubao_tt_photo" class="area"></div><!--[/diy]-->
                </div>
                
                <div class="zhubao_pic">
                    <div class="hdp_06_09">
                        <div class="hdp_06">
                            <!--[diy=hdp_06_tt]--><div id="hdp_06_tt" class="area"></div><!--[/diy]-->
                        </div>	
                        <div class="hdp_07">
                            <!--[diy=hdp_07_tt]--><div id="hdp_07_tt" class="area"></div><!--[/diy]-->
                        </div>
                        <div class="hdp_08">
                            <!--[diy=hdp_08_tt]--><div id="hdp_08_tt" class="area"></div><!--[/diy]-->
                        </div>
                        <div class="hdp_09">
                            <!--[diy=hdp_09_tt]--><div id="hdp_09_tt" class="area"></div><!--[/diy]-->
                        </div>
                    </div>
                    <div class="hdp_10_15">
                        <div class="hdp_10">
                            <!--[diy=hdp_10_tt]--><div id="hdp_10_tt" class="area"></div><!--[/diy]-->
                        </div>
                        <div class="hdp_11">
                            <!--[diy=hdp_11_tt]--><div id="hdp_11_tt" class="area"></div><!--[/diy]-->
                        </div>
                        <div class="hdp_12">
                            <!--[diy=hdp_12_tt]--><div id="hdp_12_tt" class="area"></div><!--[/diy]-->
                        </div>
                        <div class="hdp_13">
                            <!--[diy=hdp_13_tt]--><div id="hdp_13_tt" class="area"></div><!--[/diy]-->
                        </div>
                        <div class="hdp_14">
                            <!--[diy=hdp_14_tt]--><div id="hdp_14_tt" class="area"></div><!--[/diy]-->
                        </div>
                        <div class="hdp_15">
                            <!--[diy=hdp_15_tt]--><div id="hdp_15_tt" class="area"></div><!--[/diy]-->
                        </div>
                    </div>
                </div>
            </div>
            
			<div class="miyue" id="mylx"><!--蜜月旅行-->
                <dl>
                    <dd></dd>
                    <dt><a href="http://bbs.we54.com/forum.php?mod=forumdisplay&fid=1018&filter=typeid&typeid=46" target="_blank"></a></dt>
                </dl>
            
                <div class="albumIndex">
                    <!--[diy=miyue_tt_photo]--><div id="miyue_tt_photo" class="area"></div><!--[/diy]-->
                </div>
            
                <ul class="photo_pic">
                    <!--[diy=photo_pic_tt_photo]--><div id="photo_pic_tt_photo" class="area"></div><!--[/diy]-->
                </ul>
            </div>
        
        </div>
	</div>
    
</div>

<!--{subtemplate common/marry_footer}-->

<style>
#wp .wp { width:1000px;}
.mtn { margin-top: 0 !important; }/*最近修改的，原来的是{ margin-top: 5px !important; }*/
#toptb { line-height:20px;}
.mn { overflow:visible;}
</style>
