<!--{subtemplate common/header_marry}-->
<style id="diy_style" type="text/css"></style>

<script src="template/marry/js/focus_marry.js" type="text/javascript"></script>

<div id="ct" class="wp cl{if $_G['setting']['forumallowside']} ct2{/if}">
	<div class="mn" style="float:left;">
		<div class="wp mtn">
			<div class="news"><!--BBS帖子-->
                <div id="left_focus"><!--焦点图-->	
                    <div class="sub_box">
                      <div id="p-select" class="sub_nav">
                        <div class="sub_no" id="bd1lfsj">
                          <ul>
                            <li class="show"></li>
                            <li class=""></li>
                            <li class=""></li>
                          </ul>
                        </div>
                      </div>
                      <!--[diy=show_fou_tt]--><div id="show_fou_tt" class="area"></div><!--[/diy]-->
                    </div>
                    <script type="text/javascript">movec();</script>
                </div>
        
                <div class="bbs_tiezi"><!--热帖-->	
                    <!--[diy=bbs_tiezi_tt]--><div id="bbs_tiezi_tt" class="area"></div><!--[/diy]--> 
                    <ul>
                        <!--[diy=bbs_tiezi_li_tt]--><div id="bbs_tiezi_li_tt" class="area"></div><!--[/diy]-->   
                    </ul>
                </div>
        
                <div class="rexian"><!--热线电话-->
                    <div class="phone"><!--{ad/custom_17}--></div>
                    <div class="jiaru"><!--{ad/custom_18}--></div>
                    <div class="ad_10"><!--{ad/custom_19}--></div>
                    <div class="ad_10"><!--{ad/custom_20}--></div>
                </div>
            </div>
		</div>

		

		
	</div>
</div>
<!--{subtemplate common/footer}-->

<style>
#wp .wp { width:1000px;}
.mtn { margin-top: 0 !important; }/*最近修改的，原来的是{ margin-top: 5px !important; }*/
</style>