<!--{if $_GET['mod'] == 'spacecp'}-->
	<!--{subtemplate home/space_header}-->
	<!--{if $_G['basescript'] == 'forum' && $_G['setting']['archiver']}-->
		<link rel="archives" title="$_G['setting']['bbname']" href="{$_G[siteurl]}archiver/" />
	<!--{/if}-->
	<!--{if !empty($rsshead)}-->$rsshead<!--{/if}-->
	<!--{if widthauto()}-->
		<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_widthauto.css?{VERHASH}" />
		<script type="text/javascript">HTMLNODE.className += ' widthauto'</script>
	<!--{/if}-->
	<!--{if $_G['basescript'] == 'forum' || $_G['basescript'] == 'group'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}forum.js?{VERHASH}"></script>
	<!--{elseif $_G['basescript'] == 'home' || $_G['basescript'] == 'userapp'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
	<!--{elseif $_G['basescript'] == 'portal'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
	<!--{/if}-->
	<!--{if $_G['basescript'] != 'portal' && $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
	<!--{/if}-->
	<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
	<link rel="stylesheet" type="text/css" id="diy_common" href="data/cache/style_{STYLEID}_css_diy.css?{VERHASH}" />
	<!--{/if}-->
    <script type="text/javascript" src="{$_G[setting][jspath]}logging.js?{VERHASH}"></script>
    <script src="template/we54/js/logging.js" type="text/javascript"></script>
	<script src="template/we54/js/jquery-1.4.2.js" type="text/javascript"></script>

	<script type="text/javascript">
	var jq = jQuery.noConflict(); 
    jq(document).ready(function(){
      
      jq("#ss, #show").hover(function(){
      jq(".main_nav").show();
      },function (){jq(".main_nav").hide();});
    
    });
    </script>
	
    <script type="text/javascript">
	var jq = jQuery.noConflict();
	jq(document).ready(function(){
	  
	  jq("#bk, #ycbk").hover(function(){
	  jq(".nav_three").show();
	  },function (){jq(".nav_three").hide();});
	
	});
	</script>
	
    <script language="javascript">
	jq(function(){
	  //当鼠标滑入时将div的class换成divOver
	  jq('.nav').hover(function(){
		jq(this).addClass('divOver');  
	   },function(){
		//鼠标离开时移除divOver样式
		jq(this).removeClass('divOver'); 
	   }
	  );
	});
	</script> 
    
    <script language="javascript">
	jq(function(){
	  //当鼠标滑入时将div的class换成divOver
	  jq('.bankuai').hover(function(){
		jq(this).addClass('bankuaiOver');  
	   },function(){
		//鼠标离开时移除divOver样式
		jq(this).removeClass('bankuaiOver'); 
	   }
	  );
	});
	</script> 
    <link href="template/we54/common/header.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="template/we54/common/kaiser.css" />
<!--{else}-->
	<!--{subtemplate common/marry_header_top}-->
    			<div class="ks_marry_list_header">
                    <a class="ks_marry_logo" href="/forum-675-1.html"></a>
                    <div class="ks_marry_top_ad_01">
                        <!--{ad/custom_11}-->
                    </div>
                </div>
                
                <div class="nav_st">
                    <div class="nav_second">
                    	<div class="nav_nav">
                    		<li><a href="/" <!--{if empty($_G['forum']['name'])}-->style=" color:#FFEE9D;"<!--{/if}-->>首页</a></li>
                            <!--{loop $_G['cache']['forums'] $bforum}-->
                                <!--{if $bforum['fup'] == $_G['forum']['fup'] && $bforum['status']}-->
                                    <li><a href="forum.php?mod=forumdisplay&fid=$bforum[fid]" <!--{if $_G['forum']['name'] == $bforum['name']}-->style=" color:#FFEE9D;"<!--{/if}-->>$bforum['name']</a></li>
                                <!--{/if}-->
                            <!--{/loop}-->
                        </div>
                        <div class="ks_nav_nav_tel">官方QQ群:9875689902</div>
                    </div>
                    <div class="ks_nav_three">
                    	<!--{ad/custom_11}-->
                    </div>
                </div>
			</div>
		</div>

		<!--{if !IS_ROBOT}-->
			<!--{if $_G['uid'] && !empty($_G['style']['extstyle'])}-->
				<div id="sslct_menu" class="cl p_pop" style="display: none;">
					<!--{if !$_G[style][defaultextstyle]}--><span class="sslct_btn" onClick="extstyle('')" title="{lang default}"><i></i></span><!--{/if}-->
					<!--{loop $_G['style']['extstyle'] $extstyle}-->
						<span class="sslct_btn" onClick="extstyle('$extstyle[0]')" title="$extstyle[1]"><i style='background:$extstyle[2]'></i></span>
					<!--{/loop}-->
				</div>
			<!--{/if}-->

				<div id="qmenu_menu" class="p_pop {if !$_G['uid']}blk{/if}" style="display: none;">
					<!--{if $_G['uid']}-->
					<ul>
						<!--{loop $_G['setting']['mynavs'] $nav}-->
							<!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->
								<li>$nav[code]</li>
							<!--{/if}-->
						<!--{/loop}-->
					</ul>
					<!--{elseif $_G[connectguest]}-->
						<div class="ptm pbw hm">
							{lang connect_fill_profile_to_visit}
						</div>
					<!--{else}-->
						<div class="ptm pbw hm">
							{lang my_nav_login}
						</div>
					<!--{/if}-->
				</div>
		<!--{/if}-->

		

		<!--{hook/global_header}-->
	<!--{/if}-->

	<div id="wp" class="wp">
<!--{/if}-->